<form action="/foods" method="post">
	<input type="text" name= "cusine_name" placeholder="Name" >
	<input type="text" name="cusine_price" placeholder="Price">
	<input type="text" name="cusine_allergens" placeholder= "allergens">
	<input type="submit">
</form>
