<header><h1>RESTAURANT APP</h1></header> 



<a href="/">Home</a>

<a href="/foods">Menu</a>

<a href="/parties">Parties</a>

<a href="/parties/new">New Party</a>

<a href="/orders/new">New Order</a>

<a href="/foods/new">New Food</a>

<a href="/orders">Orders</a>

<h1>New Party</h1>

<form action="/parties" method="post">
	<input type="text" name= "party_order" placeholder="Party Order" >
	<input type="text" name= "table_number" placeholder="Table Number" >
	<input type="text" name="guest_number" placeholder="Guest Number">
	<input type="text" name="paid" placeholder= "paid">
	<input type="submit">
</form>