<h1>RESTAURANT APP</h1>

<a href="/">Home</a>

<a href="/foods">Menu</a>

<a href="/foods/new">New Food</a>

<a href="/parties">Parties</a>

<a href="/parties/new">New Party</a>

<h2>Parties</h2>


<ul>
   <% @parties.each do |party| %> 
    <li>
     party table<a href="/parties/<%= party.id %>">
	 <%=   party.table_number  %> 
	 </a>
   </li>
  <% end %> 
</ul>


