<header><h1>RESTAURANT APP</h1></header> 

<a href="/">Home</a>

<a href="/foods">Menu</a>

<a href="/parties">Parties</a>

<a href="/parties/new">New Party</a>

<a href="/orders/new">New Order</a>

<a href="/foods/new">New Food</a>

<a href="/orders">Orders</a>


<h1>Parties</h1>


<ul>
   <% @parties.each do |party| %> 
    <li>
     party table<a href="/parties/<%= party.id %>">
	 <%=   party.table_number  %> 
	 </a>
   </li>
  <% end %> 
</ul>


