<form action="/foods/<%= @foods.id %>" method="post">
	<input type="hidden" name="_method" value="patch">
	<input type="text" name="cusine_name" value="<%= @foods.cusine_type %>">
	<input type="submit">

	
</form>