<form action="/foods/<%= @food.id %>" method="post">
	<input type="hidden" name="_method" value="patch">
	<input type="text" name="cusine_name" value="<%= @food.cusine_type %>">
	<input type="submit">

	
</form>