<h1>RESTAURANT APP</h1>


<a href="/">Home</a>

<a href="/foods">Menu</a>

<a href="/parties">Parties</a>

<a href="/parties/new">New Party</a>

<a href="/orders/new">New Order</a>

<a href="/foods/new">New Food</a>

<a href="/orders">Orders</a>

<h1>New Food</h1> 

<form action="/foods" method="post">
	<input type="text" name= "food_id" placeholder="Food ID" >
	<input type="text" name= "name" placeholder="Name" >
	<input type="text" name= "cusine_type" placeholder="Cusine" >
	<input type="text" name="cusine_price" placeholder="Price">
	<input type="text" name="cusine_allergens" placeholder= "allergens">
	<input type="submit">
</form>
