<h1>RESTAURANT APP</h1>



<a href="/">Home</a>

<a href="/foods">Menu</a>

<a href="/parties">Parties</a>

<a href="/parties/new">New Party</a>

<a href="/orders/new">New Order</a>

<a href="/foods/new">New Food</a>

<a href="/orders">Orders</a>

<h1>Menu</h1> 
<ul>
   <% @foods.each do |cusine| %> 
    <li>
     <a href="/foods/<%= cusine.id %>">
	  <%=   cusine.id  %> <%=   cusine.name  %> 
	 </a>
   </li> 
  <% end %> 
</ul>


