<form action="/orders/<%= @order.id %>" method="post">
	<input type="hidden" name="_method" value="patch">
	<input type="text" name="order_id" value="<%= @orders.id %>">
	<input type="submit">

	
</form>