<h1>RESTAURANT APP</h1>

<a href="/">Home</a>

<a href="/foods">Menu</a>

<a href="/parties">Parties</a>

<a href="/parties/new">New Party</a>

<a href="/orders/new">New Order</a>

<a href="/foods/new">New Food</a>

<a href="/orders">Orders</a>
<ul>
   <% @orders.each do |order| %> 
    <li>
     <a href="/orders/<%= order.id %>">
	 <%=   order.id  %> 
	 </a>
   </li>
  <% end %> 
</ul>