<h1>RESTAURANT APP</h1>


<h1>ORDERS</h1>

<a href="/">Home</a>

<a href="/foods">Menu</a>

<a href="/parties">Parties</a>

<a href="/parties/new">New Party</a>

<a href="/orders/new">New Order</a>

<a href="/foods/new">New Food</a>

<a href="/orders">Orders</a>


<form action="/orders" method="post">
	<input type="text" name= "order_id" placeholder="Order" >
	<input type="text" name="foods_id" placeholder="FOOD ID">
	<input type="text" name="parties_id" placeholder= "PARTY ID">
	<input type="submit">
</form>



