<form action="/orders" method="post">
	<input type="text" name= "order_id" placeholder="Order" >
	<input type="submit">
</form>

<h1>PARTY</h1> 
<form action="/parties" method="post">
	<input type="text" name= "table_number" placeholder="Table Number" >
	<input type="text" name="guest_number" placeholder="Guest Number">
	<input type="text" name="paid" placeholder= "paid">
	<input type="submit">
</form>


<h1>FOOD & DRINKS </h1>  
<form action="/foods" method="post">
	<input type="text" name= "cusine_name" placeholder="Name" >
	<input type="text" name="cusine_price" placeholder="Price">
	<input type="text" name="cusine_allergens" placeholder= "allergens">
	<input type="submit">
</form>


<a href="/orders">ORDERS</a>
