<form action="/fparties/<%= @party.id %>" method="post">
	<input type="hidden" name="_method" value="patch">
	<input type="text" name="_name" value="<%= @party.table_number %>">
	<input type="submit">

	
</form>