<form action="/parties" method="post">
	<input type="text" name= "table_number" placeholder="Table Number" >
	<input type="text" name="guest_number" placeholder="Guest Number">
	<input type="text" name="paid" placeholder= "paid">
	<input type="submit">
</form>